@model BusinessModels.Franchise.FranchiseDetails
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@using BusinessData
@using BusinessData.Enum

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

@if (Model != null)
{
    <table id="emissions">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <header>
                <h1>Franchise Details</h1>
            </header>
            @foreach (var prop in Model.GetType().GetProperties())
            {
                if (prop.Name == "BusinessState" || prop.Name == "OutOfStateClientCount" || prop.Name == "TotalCO2Saved" || prop.Name == "Clients")
                {
                    continue;
                }

                var displayName = prop.Name;
                var displayAttributes = prop.GetCustomAttributes(typeof(DisplayAttribute), false);
                if (displayAttributes.Length > 0)
                {
                    displayName = (displayAttributes[0] as DisplayAttribute).Name;
                }
                else
                {
                    var displayNameAttributes = prop.GetCustomAttributes(typeof(DisplayNameAttribute), true)
                                                        .Cast<DisplayNameAttribute>()
                                                        .FirstOrDefault();
                    if (displayNameAttributes != null)
                    {
                        displayName = displayNameAttributes.DisplayName;
                    }
                }

                var value = prop.GetValue(Model, null);
                if (value != null)
                {
                    if (prop.Name == "Roles")
                    {
                        <tr>
                            <td>@displayName</td>
                            <td>
                                @foreach (var role in Model.Roles)
                                {
                                    <p>@role.Name (@role.Email) - @role.Role</p>
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@displayName</td>
                            <td>@value</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <p>
        @Html.ActionLink("Edit Franchise", "Edit", new { id = Model.FranchiseId }, new { @class = "edit-link" }) 
    </p>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <div>No data available</div>
}
