@model BusinessModels.Franchise.FranchiseDetails
@using Microsoft.AspNet.Identity;
@{
    double totalCO2Saved = 0;
    double gallons = 0;
    double coal = 0;
    double vehicle = 0;
    double smartphones = 0;

    foreach (var client in Model.Clients)
    {
        totalCO2Saved += client.TotalCO2SavedV2;
    }
    gallons = (float)(totalCO2Saved / 19.64);
    coal = (float)(totalCO2Saved / 2);
    vehicle = (float)(totalCO2Saved / .88);
    smartphones = (float)(totalCO2Saved / .02);
}


@{
    ViewBag.Title = "Details";
}

<h2>@Model.FranchiseName - Account Information</h2>

<div>
    <h4></h4>
    <hr />
    <dl>
    </dl>

    @if (Model.Clients.Any())
    {
        <h3></h3>

        <table id="emissions">
            <tr>
                <th>Business Name</th>
                <th>Emissions Saved (lbs)</th>
            </tr>
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td>@client.BusinessName</td>
                    <td>@client.TotalCO2SavedV2.ToString("N2")</td>
                </tr>
            }
            <tr>
                <td>Total CO2 Saved Across All Clients for this Franchise</td>
                <td><strong>@totalCO2Saved.ToString("N2")</strong></td>
            </tr>
        </table>
    }
    else
    {
        <p>No clients found.</p>
    }
    <br />


    <table id="emissions">
        <tr>
            <th>CO2 Equivalencies</th>
            <th>Values</th>
        </tr>
        <tr>
            <td>Gallons of gas not consumed</td>
            <td>@gallons.ToString("N2")</td>
        </tr>
        <tr>
            <td>Pounds of Coal not burned</td>
            <td>@coal.ToString("N2")</td>
        </tr>
        <tr>
            <td>Miles driven by the average passenger vehicle</td>
            <td>@vehicle.ToString("N2")</td>
        </tr>
        <tr>
            <td>Smartphones Charged</td>
            <td>@smartphones.ToString("N2")</td>
        </tr>
    </table>

    <br />
</div>
@using (Html.BeginForm("SubmitAction", "Franchise", new { id = Model.FranchiseId }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="TxtUrl"></label>
        <input type="hidden" name="TxtUrl" id="TxtUrl" class="form-control" value="https://businessmvc220230407125015.azurewebsites.net/Franchise/FranchiseDetailsToPdf/@Model.FranchiseId" required />
    </div>

    <input type="hidden" name="DdlPageSize" value="Letter" />
    <input type="hidden" name="DdlPageOrientation" value="Landscape" />
    <input type="hidden" name="TxtWidth" value="1024" />
    <input type="hidden" name="TxtHeight" value="0" />
    <input type="hidden" name="FranchiseId" value="@Model.FranchiseId" />
    @Html.Hidden("UserId", User.Identity.GetUserId())

    <button type="submit" class="btn btn-primary">
        Generate PDF
    </button>
}


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
