@model IEnumerable<BusinessModels.BusinessListItem>
@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Create New", "Create") @*|
    @Html.ActionLink("Select Franchise", "SelectFranchise") |
    @Html.ActionLink("View Franchises with Out-of-State Clients", "FranchisesWithOutOfStateClients", "Client")*@
</p>

<table id="clientTable" class="table display">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().FranchiseName)</th>
            <th>@Html.DisplayNameFor(model => model.First().BusinessName)</th>
            <th>@Html.DisplayNameFor(model => model.First().ServiceLocation)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FranchiseName)</td>
                <td>@Html.DisplayFor(modelItem => item.BusinessName)</td>
                <td>@Html.DisplayFor(modelItem => item.ServiceLocation)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BusinessId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BusinessId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BusinessId })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#clientTable').DataTable();
    });
</script>

<div id="upload-download-container">
    @if (User.Identity.IsAuthenticated && User.Identity.Name == "doug.revell@smashmytrash.com")
    {
        @Html.ActionLink("Export Google Sheet", "ExportToGoogleSheet", "Client", null, new { @class = "btn btn-primary" })
        <br /><br />
        @Html.ActionLink("Import Clients from CSV", "Import", "Client", null, new { @class = "btn btn-primary" })
    }
</div>
