@model IPagedList<BusinessModels.BusinessListItem>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Client", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().FranchiseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ServiceLocation)
        </th>

        <th></th>

    </tr>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    options: new PagedListRenderOptions
    {
        DisplayPageCountAndCurrentLocation = true,
        MaximumPageNumbersToDisplay = 10,
    })
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FranchiseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceLocation)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BusinessId }, null) |
                @Html.ActionLink("Details", "Details", new { id = item.BusinessId }, null) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BusinessId }, null)

            </td>

        </tr>

    }

</table>
<div id="upload-download-container">
    @if (User.Identity.IsAuthenticated && User.Identity.Name == "doug.revell@smashmytrash.com")
    {
        @Html.ActionLink("Export Google Sheet", "TestUpdateGoogleSheet", "Client", null, new { @class = "btn btn-primary" })
        <br />
        <br />
        using (Html.BeginForm("ImportClientsFromGoogleSheet", "Client", FormMethod.Get))
        {
            <input type="submit" value="Import Clients" class="btn btn-primary" />
        }
    }
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
   options: new PagedListRenderOptions
   {
       DisplayPageCountAndCurrentLocation = true,
       MaximumPageNumbersToDisplay = 10,
   })

