@model BusinessShared.QuoteResultViewModel


<h2>CO2 Emission Calculation Estimates</h2>

<div id="another-quote"class="container">
    <div class="result-table">
        <div class="result-row">
            <h4>Client Name</h4>
            <p>@Model.BusinessName</p>
        </div>
        <div class="result-row">
            <h4>Est. Yearly Hauls</h4>
            <p>@Model.PreSMTYearlyHauls</p>
        </div>
        <div class="result-row">
            <h4>Hauler CO2 Emissions</h4>
            <p>@Model.TotalCO2BaselineTruckEmissionsV2.ToString("N2") lbs</p>
        </div>
        <div class="result-row">
            <h4>SMT CO2 Emissions</h4>
            <p>@Model.TotalCO2EmissionsWithSmashV2.ToString("N2") lbs</p>
        </div>
        <div class="result-row">
            <h4>Total CO2 Saved</h4>
            <p>@Model.TotalCO2SavedV2.ToString("N2") lbs</p>
        </div>
        <div class="result-row">
            <h4>CO2 Percent Saved</h4>
            <p>@Model.CO2PercentSavedV2</p>
        </div>

    </div>
<a class="btn btn-primary" href="@Url.Action("Quote", "Client")">Calculate another quote</a>
</div>





